@import "bootstrap-sprockets";  
@import "bootstrap";      

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(138, 138, 138);
  width: 100%;
  height: 50px;
}

.navbar {
  display: inline-block;
  float: right;
}

.navbar-left {
  font-size: 20px;
  padding-top: 10px;
  padding-left: 80px;
  color: white;
  display: inline-block;
}

.navbar-right {
  list-style: none;
  float: right;
  display: inline-block;
}

.home {
  float: left;
  padding: 15px;
}

.users {
  float: left;
  padding: 15px;
}

.books {
  float: left;
  padding: 15px;
}

.logout {
  float: left;
  padding: 15px;
}

.about {
  float: left;
  padding: 15px;
}

.login {
  float: left;
  padding: 15px;
}

.signup {
  float: left;
  padding: 15px;
}

#notice {
  color: lightgreen;
}

.error_message {
  color: red;
}